network:
    ethernets:
{% for interface in install_network_interface %}
        {{ interface }}:
            dhcp4: true
            dhcp4-overrides:
                use-dns: false
            nameservers:
                addresses: [127.0.0.1]
{% endfor %}
    version: 2