[Desktop Entry]
Type=Application
Exec=flatpak run com.nextcloud.desktopclient.nextcloud
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[de_DE]=Nextcloud FLATPAK
Name=Nextcloud FLATPAK
Comment[de_DE]=Nextcloud FLATPAK
Comment=Nextcloud FLATPAK