# disable teamviewer daemon at startup
disable_teamviewer: {{ disable_teamviewer|default(True) }}
# upgrade apt with basic role
config_perform_apt_upgrade: {{ config_perform_apt_upgrade|default(False) }}

# pulling latest changes of the git repo when running base role
config_ensure_repo: {{ config_ensure_repo|default(True) }}

# pull all latest changes from the repo after given time after startup
config_autopull_repo: {{ config_autopull_repo|default(True) }}
config_autopull_repo_time: "{{ config_autopull_repo_time|default("10m") }}"

# run basic role after given time after startup
config_autorun_base: {{ config_autorun_base|default(True) }}
config_autorun_base_time: "{{ config_autorun_base_time|default("15m") }}"

# ensure rtw89 wifi module for new chipsets
ensure_rtw89_module: {{ ensure_rtw89_module }}

# using pipewire as mediaserver
config_pipewire_enabled: {{ config_pipewire_enabled|bool }}

# define custom flatpaks to install
config_custom_flatpak:
#    - { package: "net.codeindustry.MasterPDFEditor", repo: "flathub", state: present }
{% if (config_custom_flatpak != None) %}
{% for flatpak in config_custom_flatpak %}
    - {% raw %}{{% endraw %} package: "{{ flatpak.package }}", repo: "{{ flatpak.repo }}", state: "{{ flatpak.state }}" {% raw %}}{% endraw %}
{% endfor %}
{% endif %}

# Setting gotify destinations
{% if (gotify_notify_dest != []) %}
gotify_notify_dest:
{% for gotify_dest in gotify_notify_dest %}
    - {% raw %}{{% endraw %} host: "{{ gotify_dest.host }}", key: "{{ gotify_dest.key }}" {% raw %}}{% endraw %}
{% endfor %}
{% endif %}


# show support in favorites or not
config_show_support_in_favorites: {{ config_show_support_in_favorites|bool }}