
[Desktop Entry]
Name=Droidcam
GenericName=Droidcam
Comment=Smartphone webcam
Comment[de]=Smaprtphone webcam
Exec=droidcam
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/usr/share/icons/droidcam.png
Categories=Network;
StartupWMClass=Droidcam 3
StartupNotify=true

