- name: Portmaster variables
  set_fact:
    preflight_portmaster_kernel_valid: "{{ (ansible_kernel.split('.')[0] | int > 5) or ((ansible_kernel.split('.')[0] | int == 5) and (ansible_kernel.split('.')[1] | int >= 7)) }}"
    preflight_portmaster_deb_is_installed: "{{ 'portmaster' in ansible_facts.packages }}"
    portmaster_installed_version: >-
      {{
        (ansible_facts.packages.portmaster[0].version
        if ('portmaster' in ansible_facts.packages and ansible_facts.packages.portmaster | length > 0)
        else None)
      }}

#### DEBUG MESSAGES #############
- name: Debug messages
  debug:
    msg:
      - "{{ 'Valid kernel for portmaster' if preflight_portmaster_kernel_valid else 'Invalid kernel for portmaster' }}"
      - "{{ 'Portmaster is installed' if preflight_portmaster_deb_is_installed else 'Portmaster is not installed' }}"
      - "Installation status: {{ portmaster_install_status }}"
      - "Portmaster version: {{ portmaster_installed_version }}"
  when: portmaster_debug|default(False)

#################################

- name: Ensure initial portmaster script
  block:
    - apt:
        deb: "{{ portmaster_deb_url }}"
        state: present
      register: install_result

    - name: Install missing dependencies
      apt:
        name: "*"
        state: present
      when: install_result.failed

    - name: reload systemd
      systemd:
        daemon_reload: yes

  rescue:
    - name: Install missing dependencies
      apt:
        name: "*"
        state: present
  when: preflight_portmaster_deb_is_installed == False and preflight_portmaster_kernel_valid == True and portmaster_install_status == True

- name: Aktiviere und starte den Portmaster-Dienst
  systemd:
    name: portmaster
    enabled: yes
    state: started
  when: preflight_portmaster_deb_is_installed == False and preflight_portmaster_kernel_valid == True and portmaster_install_status == True

- name: Ensure portmaster settings
  block:
    - name: Ensure the portmasteruser group exists
      group:
        name: "{{ portmaster_group }}"
        state: present

    - name: Determine existing sudo users
      shell: 'grep sudo /etc/group | cut -d: -f4 | tr , "\n"'
      changed_when: false 
      register: sudo_users

    - name: Ensure sudo users are in portmasteruser group
      user:
        name: '{{ item }}'
        groups: "{{ portmaster_group }}"
        append: yes
        state: present
      with_items: '{{ sudo_users.stdout_lines }}'

    - name: Set permissions for portmaster-start
      file:
        path: "{{ portmaster_base_path }}/portmaster-start"
        mode: 0750
      when: portmaster_major_version | int == 1

    - name: Set the group for portmaster-start to portmasteruser
      file:
        path: "{{ portmaster_base_path }}/portmaster-start"
        group: "{{ portmaster_group }}"
      when: portmaster_major_version | int == 1
  when: preflight_portmaster_kernel_valid == True and portmaster_install_status == True

- name: Ensure portmaster config / API
  block:
    - name: Check if the file exists
      stat:
        path: "{{ portmaster_api_key_file }}"
      register: api_key_file_stat

    - name: Write the generated API Key to the file
      copy:
        content: "{{ generated_api_key }}"
        dest: "{{ portmaster_api_key_file }}"
      when: not api_key_file_stat.stat.exists

    - name: Read the API Key from the file
      slurp:
        path: "{{ portmaster_api_key_file }}"
      register: api_key_content

    - name: Set the read API Key as a variable
      set_fact:
        portmaster_api_key: "{{ api_key_content.content | b64decode | regex_replace('\\\\n', '') }}"

    - name: Render templates
      template:
        src: "{{ item.src }}"
        dest: "{{ item.dest }}"
        owner: root
        group: root
        mode: '0600'
      loop:
        - {src: portmaster.json.j2, dest: "{{ portmaster_config_file }}"}
        - {src: portmaster_blocklist.txt.j2, dest: "{{ portmaster_blocklist }}"}
      notify:
        - reload portmaster

  when: preflight_portmaster_kernel_valid == True and portmaster_install_status == True
########### UNINSTALL ###########

- name: Uninstall portmaster
  block:
    - name: Ensure portmaster package is absent
      apt:
        name: portmaster
        state: absent

    - name: reload systemd
      systemd:
        daemon_reload: yes
  when: preflight_portmaster_deb_is_installed == True and preflight_portmaster_kernel_valid == True and portmaster_install_status == False