[Desktop Entry]
Type=Application
Exec={{ gotify_desktop_executable }}
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[de_DE]=Gotify Desktop notifications
Name=Gotify Desktop notifications
Comment[de_DE]=Gotify Desktop notifications
Comment=Gotify Desktop notifications