#!/bin/bash
print_message() {
echo "
Starting api server. You can now either use the
command line tool removebg or access the webinterface

http://localhost:5000/

with the key: localaccess
"
}

pull_latest_image() {
/usr/local/bin/docker-compose -f {{ removebg_dir }}/docker-compose.yml pull
}

startup() {
/usr/local/bin/docker-compose -f {{ removebg_dir }}/docker-compose.yml up
}

cleanup(){
/usr/local/bin/docker-compose -f {{ removebg_dir }}/docker-compose.yml down
}
trap cleanup EXIT

### MAIN
print_message
pull_latest_image
startup
###

cleanup
trap "" EXIT
