#!/bin/bash
print_message() {
echo "
Starting api server. You can now either use the
command line tool removebg or access the webinterface

http://localhost:5000/

with the key: localaccess
"
}

pull_latest_image() {
{{ compose_bin }} -f {{ removebg_dir }}/docker-compose.yml pull
}

startup() {
{{ compose_bin }} -f {{ removebg_dir }}/docker-compose.yml up
}

cleanup(){
{{ compose_bin }} -f {{ removebg_dir }}/docker-compose.yml down
}
trap cleanup EXIT

### MAIN
print_message
pull_latest_image
startup
###

cleanup
trap "" EXIT
