[Unit]
Description=Open-WebUI Service
After=network.target

[Service]
Type=simple
User={{ ai_service_user }}
Group={{ ai_service_group }}

TimeoutStartSec=1800
TimeoutStopSec=30

ExecStartPre=/bin/sh -c '/usr/bin/podman pull {{ webui_container_image }} || true'
ExecStartPre=/bin/sh -c '/usr/bin/podman rm -f {{ webui_service_name }} || true'

ExecStart=/usr/bin/podman run --rm \
  --name {{ webui_service_name }} \
  --volume {{ webui_service_dir_data }}:/app/backend/data:Z \
  --network=host \
  --env OLLAMA_BASE_URL=http://127.0.0.1:11434 \
  --env PORT={{ webui_port }} \
  {{ webui_container_image }}

ExecStop=/usr/bin/podman stop {{ webui_service_name }}

Restart=always

[Install]
WantedBy=multi-user.target
