[Unit]
Description=Open-WebUI Service
After=network.target

[Service]
Type=simple
User={{ ai_service_user }}
Group={{ ai_service_group }}

ExecStartPre=/usr/bin/podman pull {{ webui_container_image }}

ExecStart=/usr/bin/podman run --rm \
  --name {{ webui_service_name }} \
  --volume {{ webui_service_dir_data }}:/app/backend/data:Z \
  --network=host \
  --env OLLAMA_BASE_URL=http://127.0.0.1:11434 \
  --env PORT={{ webui_port }} \
  {{ webui_container_image }}

Restart=always

[Install]
WantedBy=multi-user.target
