#!/bin/bash

openap() {
ssid=${1:-"wlan-hotspot"}
pw=${2:-$(pwgen 8 1)}
QRCODE="WIFI:S:$ssid;T:WPA;P:$pw;;"
qrencode -t ANSIUTF8 "$QRCODE"
echo -e "SSID:     $ssid \nPASSWORT: $pw\n"
inetdev=$(route | grep '^default' | grep -o '[^ ]*$' | head -n 1)

sudo rfkill unblock wifi
sudo rfkill unblock all

if [ -z "$inetdev" ]
then
      apdev=$(iw dev | awk '$1=="Interface"{print $2}' | grep -F 'w' | head -n 1)
      echo "Opening offline AP. [$apdev]"
      sudo lnxrouter --no-virt --qr -n --ap $apdev $ssid -p $pw> /dev/null 2>&1
else
      apdev=$(iw dev | awk '$1=="Interface"{print $2}' | grep -v "$inetdev" | grep -F 'w' | head -n 1)
      echo "Opening link to internet. [$apdev $inetdev]"
      sudo lnxrouter --no-virt --qr --ap $apdev $ssid -p $pw> /dev/null 2>&1
fi
}

read -e -p "WLAN: " -i "Wlan-Hotspot" SSID
read -e -p "Passwort: " -i "$(pwgen 8 1)" WIFIPW

openap "$SSID" "$WIFIPW"