[Desktop Entry]
Name=Support Tunnel Request
GenericName=supporttunnelrequest
Comment=Open a support tunnel request to the system admin
Comment[de]=Öffne eine Supportanfrage an den Systemadmin
Exec=gnome-terminal --tab -e "/bin/bash -c 'sudo /usr/local/bin/open_support_ssh'"
Icon=/usr/share/icons/helpdesk.svg
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=Network;
StartupWMClass=Supportrequest
StartupNotify=true
