[Desktop Entry]
Name=Support Request
GenericName=supporttunnelrequest
Comment=Open a support request to the system admin to get some help
Comment[de]=Öffne eine Supportanfrage an den Systemadmin um Hilfe zu bekommen.
Exec=gnome-terminal --tab -e "/bin/bash -c 'sudo /usr/local/bin/open_support_ssh'"
Icon=/usr/share/icons/helpdesk.svg
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=Network;
StartupWMClass=Supportrequest
StartupNotify=true
