[Desktop Entry]
Name=System Update
GenericName=systemupdate
Comment=Update your system
Comment[de]=Update dein System
Exec=gnome-terminal --tab -e "/bin/bash -c '/usr/local/bin/update_gui'"
Icon=/usr/share/icons/updateico.svg
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=Network;
StartupWMClass=Systemupdate
StartupNotify=true
