[Desktop Entry]
Name=Update+Shutdown
GenericName=systemupdateandshutdown
Comment=Update your system and shutdown after
Comment[de]=Update dein System und fahre es danach herunter
Exec=gnome-terminal --tab -e "/bin/bash -c '/usr/local/bin/update_gui.x -s'"
Icon=/usr/share/icons/updateicoshutdown.svg
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=Network;
StartupWMClass=Systemupdate
StartupNotify=true
