[Desktop Entry]
Name=Update+Shutdown
GenericName=systemupdateandshutdown
Comment=Update your system and shutdown after
Comment[de]=Update dein System und fahre es danach herunter
Exec=gnome-terminal --tab -e "sudo /bin/bash -c 'git -C {{ config_repo_folder }} pull; ansible-playbook {{ config_repo_folder }}/main.yml -t setup && systemctl poweroff'"
Icon=/usr/share/icons/updateicoshutdown.svg
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=Network;
StartupWMClass=Systemupdate
StartupNotify=true
