[Desktop Entry]
Name=System Update
GenericName=systemupdate
Comment=Update your system
Comment[de]=Update dein System
Exec=gnome-terminal --tab -e "sudo /bin/bash -c 'git -C {{ config_repo_folder }} pull; ansible-playbook {{ config_repo_folder }}/main.yml -t setup'"
Icon=/usr/share/icons/updateico.svg
Terminal=true
X-MultipleArgs=false
Type=Application
Categories=Network;
StartupWMClass=Systemupdate
StartupNotify=true
